.messagesPage {
  position: relative;
  background-size: cover;
  .blockedtext {
    margin: 25px 0px;
    text-align: center;
    span {
      font-size: 14px;
      color: rgba($color: color(200), $alpha: 0.8);
      padding: 8px 12px;
      background-color: rgba($color: color(150), $alpha: 0.07);
      display: inline-block;
      line-height: 14px;
    }
  }
  .msgSec {
    padding: 25px 0;
    .listing {
      width: 330px;
    }
    .messaging {
      width: calc(100% - 330px);
      border-left: 1px solid rgba($color: #72848c, $alpha: 0.2);
    }
    @include media-breakpoint-down(lg) {
      .listing {
        width: 300px;
      }
      .messaging {
        width: calc(100% - 300px);
      }
    }
    @include media-breakpoint-down(md) {
      .listing {
        position: fixed;
        top: 0;
        left: -300px;
        bottom: 0;
        z-index: 11;
        opacity: 0;
        visibility: hidden;
        @include transition(0.4s);
        &.show {
          left: 0;
          opacity: 1;
          visibility: visible;
        }
      }
      .messaging {
        width: 100%;
        border-left: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      .listing {
        left: -275px;
        width: 275px;
      }
      .messaging {
        width: 100%;
      }
    }
    &_list {
      position: relative;
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-color: color(50);
      overflow: hidden;
      .search {
        padding: 20px;
        input {
          padding-left: 46px;
          &::placeholder {
            color: rgba($color: color(150), $alpha: 0.3);
          }
        }
        .form-group {
          .form-control {
            font-size: 14px;
          }
          position: relative;
          &::before {
            content: "\e904";
            font-family: "icomoon" !important;
            @include absolutecenter(y);
            left: 22px;
            color: #a4a4a4;
            font-size: 14px;
          }
        }
      }
      ul {
        height: calc(100vh - 274px);
        overflow-y: auto;
      }
      .user {
        padding: 0 15px;
        a {
          padding: 15px 0;
          &:hover {
            h6 {
              color: color(400);
            }
          }
        }
        &:not(:last-child) {
          a {
            border-bottom: 1px solid rgba(color(800), 0.1);
          }
        }
        &Img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          position: relative;
        }
        img {
          width: 100%;
          height: 100%;
        }

        &Caption {
          padding-left: 12px;
          flex: 1;
          h6 {
            font-size: 16px;
            color: color(800);
            margin-bottom: 3px;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 140px;
          }
          p {
            color: #72848c;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 160px;
          }
          span {
            font-size: 12px;
            color: color(200);
          }
          .badge {
            width: 18px;
            height: 18px;
            background-color: color(600) !important;
            border-radius: 50%;
            color: color(50);
            font-size: 10px;
            line-height: 0;
          }
        }
      }
      .createGroup {
        position: absolute;
        bottom: 50px;
        right: 15px;
        em {
          width: 56px;
          height: 56px;
          background-color: color(500);
          font-size: 15px;
          color: color(50);
          box-shadow: 0px 3px 15px 2px rgba(color(500), 0.52);
        }
      }
      a {
        &.user_block {
          &:hover {
            h6,
            h5,
            p,
            span {
              color: color(150);
            }
          }
          h6,
          h5,
          p,
          span {
            color: color(150);
          }
          img {
            mix-blend-mode: luminosity;
          }
          .userImg {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              background-color: rgba($color: color(900), $alpha: 0.16);
              top: 0px;
              left: 0px;
              border-radius: 50%;
            }
          }
        }
      }

      @media (max-width: 1599px) {
        .search {
          padding: 13px 15px;
        }
        .userImg {
          width: 42px;
          height: 42px;
        }
        ul {
          height: calc(100vh - 253px);
        }
        .createGroup {
          bottom: 20px;
          right: 25px;
          em {
            width: 45px;
            height: 45px;
            font-size: 14px;
          }
        }
        .userCaption {
          h6 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      @include media-breakpoint-down(lg) {
        .search {
          padding: 12px;
          .form-group {
            &::before {
              left: 12px;
            }
          }
          input {
            padding-left: 36px;
          }
        }
        .userImg {
          width: 35px;
          height: 35px;
        }
        .userCaption {
          h6 {
            font-size: 13px;
          }
          span {
            font-size: 11px;
          }
          .badge {
            width: 16px;
            height: 16px;
            font-size: 9px;
          }
        }
        .user {
          padding: 0 12px;
          a {
            padding: 12px 0;
          }
        }
        .createGroup {
          bottom: 15px;
          right: 15px;
          em {
            width: 35px;
            height: 35px;
            font-size: 12px;
          }
        }       
        ul{
          height: calc(100vh - 274px);
        }
      }
      @include media-breakpoint-down(md) {
        border-radius: 0;
        ul {
          height: 100%;
        }
      }
    }
    &_right {
      background-color: color(50);
      overflow: hidden;
      border-radius: 0 5px 5px 0;
      height: 100%;
      &_header {
        padding: 20px 40px;
        background-color: color(50);
        border-bottom: 1px solid rgba(#72848c, 0.2);
        position: relative;
        z-index: 1;
        .userProfile {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          &_caption {
            margin-left: 12px;
            h5 {
              font-size: 16px;
            }
            p {
              font-size: 14px;
              color: rgba(color(800), 0.5);
            }
          }
        }
        .dropdown {
          .profilePage_moreBtn {
            width: auto;
            height: auto;
            line-height: 20px;
            background-color: transparent;
            color: color(150);
          }
          &-menu {
            border-radius: 10px 0px 10px 10px;
            min-width: 120px;
            padding: 20px;
          }
          li {
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
          &-item {
            color: color(800);
            padding: 0;
            font-size: 14px;
            line-height: 25px;
            font-family: font(rg);
            display: block;
            &:focus,
            &:hover {
              color: color(500);
              background-color: transparent;
            }
          }
        }
      }
      &_middle {
        padding: 25px 40px 0;
        height: calc(100vh - 350px);
        .msg_wrap {
          overflow-y: auto;
          max-height: 100%;
          padding-right: 5px;
        }
        .rcv-msg .chatBox,
        .send-msg .chatBox {
          font-size: 18px;
          padding: 10px 18px;
          color: color(800);
          max-width: 395px;
          display: inline-block;
        }
        .rcv-msg,
        .send-msg {
          margin-bottom: 20px;
        }
        .rcv-msg .chatBox {
          background-color: rgba($color: #ff9e6e, $alpha: 0.1);
          border-radius: 0 5px 5px 5px;
        }
        .send-msg {
          text-align: right;
        }
        .send-msg .chatBox {
          background: color(600);
          border-radius: 5px 0 5px 5px;
          color: color(50);
        }
        .time {
          font-size: 14px;
          margin-top: 12px;
          color: #72848c;
          display: block;
        }
        .timeRow {
          text-align: center;
          position: relative;
          margin: 40px 0;
          &::after {
            content: "";
            background-color: rgba(#72848c, 0.2);
            width: 100%;
            height: 1px;
            @include absolutecenter(y);
            left: 0;
          }
          span {
            color: rgba(#72848c, 0.5);
            display: inline-block;
            background-color: color(50);
            padding: 6px 24px;
            z-index: 1;
            position: relative;
          }
        }
      }
      &_bottom {
        position: relative;
        background-color: color(60);
        input {
          height: 70px;
          padding: 23px 40px 25px;
          padding-right: 190px;
          border: 0;
        }
        ul {
          @include absolutecenter(y);
          right: 0;
          display: flex;
          align-items: center;
        }

        li {
          margin-right: 0;
          line-height: 20px;
          + li {
            margin-left: 20px;
          }
          a {
            font-size: 30px;
            color: rgba(#72848c, 0.5);
            &:hover {
              color: color(500);
            }
          }
          .btn-primary {
            font-size: 26px;
            width: 70px;
            height: 70px;
          }
        }
      }
      @media (max-width: 1599px) {
        &_header {
          padding: 15px 20px;
          .userProfile {
            img {
              width: 42px;
              height: 42px;
            }
            &_caption {
              h5 {
                font-size: 14px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
        &_middle {
          padding: 20px 20px 0;
          height: calc(100vh - 320px);
          .rcv-msg .chatBox,
          .send-msg .chatBox {
            font-size: 14px;
            padding: 10px;
          }
        }
        &_bottom {
          input {
            padding: 15px 30px 15px;
            padding-right: 140px;
            height: 60px;
          }
          li {
            a {
              font-size: 20px;
            }
            + li {
              margin-left: 15px;
            }
            .btn-danger {
              font-size: 20px;
              width: 60px;
              height: 60px;
            }
          }
          li {
            .btn-primary {
              font-size: 24px;
              width: 65px;
              height: 60px;
            }
          }
        }
      }
      @include media-breakpoint-down(lg) {
        .timeRow {
          span {
            font-size: 14px;
          }
        }
        &_header {
          padding: 12px;
          .userProfile {
            img {
              width: 35px;
              height: 35px;
            }
            &_caption {
              h5 {
                font-size: 13px;
              }
            }
          }
          .dropdown {
            &-menu {
              min-width: 110px;
              padding: 12px;
            }
            &-item {
              font-size: 13px;
              line-height: 21px;
            }
            .profilePage {
              &_moreBtn {
                font-size: 15px;
                margin-left: 5px;
              }
            }
            .userBtn,
            .profilePage_moreBtn {
              width: 34px;
              height: 34px;
              text-align: center;
              line-height: 37px;
              border-radius: 50%;
            }
            .userBtn {
              background: color(400);
              color: color(50);
              font-size: 15px;
            }
          }
        }
        &_middle {
          padding: 12px 12px 0;
          .rcv-msg,
          .send-msg {
            margin-bottom: 12px;
          }
          .rcv-msg .chatBox,
          .send-msg .chatBox {
            font-size: 13px;
            padding: 8px;
          }
          .time {
            font-size: 11px;
            margin-top: 8px;
          }
          .timeRow {
            margin: 20px 0;
            span {
              padding: 3px 15px;
            }
          }
          .send-msg {
            margin-bottom: 12px;
          }
        }
        &_bottom {
          input {
            padding: 12px 12px 12px;
            padding-right: 125px;
            height: 50px;
          }
          li {
            & + li {
              margin-left: 12px;
            }
            .btn-danger {
              font-size: 16px;
              width: 50px;
              height: 50px;
            }
            .btn-primary {
              width: 55px;
              height: 50px;
            }
          }
        }
      }
      @include media-breakpoint-down(md) {
        border-radius: 10px 10px 10px 10px;
      }
      @include media-breakpoint-down(sm) {
        .userProfile {
          &_caption {
            width: 175px;
            overflow: hidden;
          }
        }
        &_header {
          .dropdown {
            .userBtn,
            .profilePage_moreBtn {
              width: 32px;
              height: 32px;
              line-height: 36px;
            }
            .userBtn {
              font-size: 14px;
            }
          }
        }
      }
      @media (max-width: 346px) {
        .userProfile {
          &_caption {
            width: 135px;
          }
        }
      }
    }
  }
  .userImg {
    &.online {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #12af00;
        border: 1px solid color(50);
        right: 3px;
        bottom: 3px;
      }
    }
  }
}
