.treatmentPage {
  .sideBar {
    width: 220px;
    flex-shrink: 0;
  }
  .profileCard {
    width: calc(100% - 220px);
    margin-left: 20px;
    &_btns {
      margin: 20px 0;
      .btn {
        min-width: 154px;
      }
    }
  }
  .form-group {
    margin-bottom: 25px;
    label {
      margin-bottom: 15px;
    }
    .form-check {
      label {
        font-size: 15px;
        font-family: font(bk);
        color: color(200);
      }
    }
    .form-label {
      &_title {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .uploadStuff {
    li {
      max-width: 178px;
      width: 100%;
    }

    &_rates {
      li {
        height: 150px;
        &:first-child {
          margin-right: 30px;
        }
      }
    }
    &_consult {
      li {
        height: 100px;
      }
    }
  }
  &_selectcatg {
    font-size: 12px;
    font-family: font(bk);
    line-height: 22px;
    color: color(800);
  }
  @media (max-width: 1499px) {
    .form-group {
      margin-bottom: 15px;
      label {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .form-check {
        label {
          font-size: 14px;
        }
      }
      .form-control {
        font-size: 14px;
      }
    }
    .uploadStuff {
      &_rates {
        li {
          height: 100px;
        }
      }
    }
    .profileCard {
      &_btns {
        margin: 0;
        .btn {
          min-width: 120px;
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    .sideBar {
      width: 170px;
    }
    .profileCard {
      margin-left: 15px;
    }
    .form-group {
      .form-label {
        &_title {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

.reviewTreat {
  .beautyBox {
    &_detail {
      .left {
        &:after {
          opacity: 0;
        }
      }
    }
  }
  .beautyBox {
    &-profile {
      $parent: "beautyBox";
      .#{$parent}_img {
        height: 200px;
        &-talent {
          height: 142px;
        }
      }
      .#{$parent}_detail {
        h3 {
          margin: 15px 0 5px;
        }
        .left {
          &::after {
            content: "";
            display: none;
          }
          .perks {
            margin: 20px 0 20px;
            &-talent {
              margin: 10px 0 10px;
            }
          }
        }
      }
    }
  }
}
