.beautyBox {
  &_items {
    background: color(50);
    padding: 15px;
    border-radius: 3px;
    border: 1px solid transparent;
    @include transition(0.5s);
    &:hover{
      border-color: color(600);
      @include transition(0.5s);
      // transform: translateY(-2px);
      @include transforms(translateY(-2px));
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &.hide {
      display: none !important;
    }
    &_border {
      border: 1px solid rgba($color: color(180), $alpha: 0.15);
    }
    &.small{
      .beautyBox_img{
        height: 200px;
       @include media-breakpoint-up(md){
          width: 230px;
        }
        @include media-breakpoint-down(md){
          height: 380px;
        }
        @include media-breakpoint-down(sm){
          height: 300px;
        }
        @media(max-width:480px){
          height: 230px;
        }
      }
      .beautyBox_detail{
        .left{
          ul{margin: 15px 0 10px;}
        }
      }
    }
  }
  &_img {
    overflow: hidden;
    height: 255px;
    width: 318px;
    border-radius: 3px;
    &:hover {
      @include transition(0.5s ease-in-out);
      img {
        @include transforms(scale(1.2));
        @include transition(0.5s ease-in-out);
      }
    }
    img {
      border-radius: 3px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      @include transforms(scale(1));
      @include transition(0.5s ease-in-out);
    }
  }
  @media (max-width: 1599px) {
    &_img {
      height: 215px;
      width: 250px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &_img {
      height: 195px;
      width: 230px;
    }
  }
  @include media-breakpoint-down(lg) {
    &_img {
      width: 100%;      
      margin-bottom: 15px;
      height: 380px;
      img{
        width: 100%;
      }
    }
    &_items {
      &.small{
        .beautyBox_detail{
          padding-left: 20px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &_items {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &.small{
        .beautyBox_img{
          max-width: 100%;
        }
        .beautyBox_detail{
          padding-left: 0px;
          .left{
            ul{margin: 15px 0 10px;}
          }
        }
      }
    }
    &_img {      
      height: 300px;
    }
  }
  @media (max-width: 480px) {
    &_img {
      height: 230px;
    }
    &_items{
      &_border {
        border:0;
        padding: 0;
      }
    }
  }
  &_detail {
    padding-left: 25px;
    flex: 1;
    .left {
      position: relative;
      padding: 10px 15px 0 0;
      flex: 1;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: #e5e5e5;
      }
      ul {
        margin: 20px 0 30px;
      }
      li {
        font-size: 14px;
        font-family: font(lt);
        color: color(200);
        &:not(:last-child) {
          margin-right: 18px;
        }
        em {
          color: color(600);
          margin-right: 8px;
          font-size: 15px;
        }
      }
    }
    h3 {
      font-size: 18px;
      line-height: 28px;
      margin: 15px 0 15px;
      @include text-clamp(1);
      a {
        color: color(800);
        &:hover {
          color: color(400);
        }
      }
    }
    p {
      font-size: 13px;
      line-height: 23px;
      font-family: font(bk);
      color: color(200);
      margin-bottom: 0;
      @include text-clamp(2);
    }
    .label {
      font-family: font(lt);
      font-size: 15px;
      @include flexcenter(y);
      flex-wrap: wrap;
      span {
        background: color(600);
        border-radius: 25px;
        color: color(50);
        display: inline-block;
        padding: 5px 15px;
        font-size: 12px;
        margin: 0 13px 5px 0;
        &.instant{
          background: #FFD1E3;
          color: color(400);
          @include flexcenter(y);
          em{margin-right: 5px;}
        }
      }
    }

    .availability {
      sub {
        text-decoration-line: line-through;
        font-family: font(sb);
        color: color(400);
        bottom: -0.17rem;
        margin-left: 7px;
      }
      .btn {
        font-size: 14px;
        height: 40px;
        padding: 10px 13px;
      }
    }
    .userCard {
      padding: 0 45px;
      text-align: center;
      max-width: 235px;
      &_profile {
        width: 58px;
        height: 58px;
        margin: 0 auto;
        border: 1px solid color(600);
        border-radius: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_info {
        h4 {
          font-size: 15px;
          line-height: 27px;
          margin: 15px 0 0;
          @include text-clamp(2);
          a{
            color: color(800);
            &:hover, &:focus{
              color: color(400);
            }
          }
        }
        h5 {
          font-size: 12px;
          color: color(600);
        }
        p {
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 0;
          @include text-clamp(2);
        }
      }
      .ratings {
        margin: 15px 0 10px;
        em {
          font-size: 13px;
        }
        li {
          margin-right: 5px;
          color: color(600);
        }
        &_count {
          font-size: 12px;
          color: color(200);
        }
      }
      .liked {
        top: 15px;
        right: 15px;
        color: color(400);
        font-size: 21px;
        &.yup {
          em {
            &:before {
              content: "\e916";
            }
          }
        }
      }
    }
    @media (max-width: 1599px) {
      h3 {
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0 10px;
      }
      .left {
        ul {
          margin: 15px 0 20px;
        }
        li {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .availability {
        h4 {
          font-size: 21px;
        }
      }
      .userCard {
        padding: 0 30px;
        .liked {
          top: 10px;
          right: 10px;
          font-size: 16px;
        }
      }
    }
    @include media-breakpoint-down(xxl) {
      padding-left: 20px;
      .left {
        padding: 0px 20px 0 0;
        ul {
          margin: 15px 0 15px;
        }
        li {
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
      .availability {
        h4 {
          font-size: 18px;
        }
        .btn {
          font-size: 13px;
          height: 36px;
          padding: 10px;
        }
      }
      .userCard {
        padding: 0 15px;
        .ratings {
          margin: 10px 0 10px;
        }
        &_profile {
          width: 48px;
          height: 48px;
        }
      }
      .label {
        span {
          margin: 0 5px 5px 0;
        }
      }
    }
    @include media-breakpoint-down(lg){
      padding-left: 0;
    }
    @include media-breakpoint-down(md) {            
      .label {
        font-size: 14px;
        span {
          padding: 3px 10px;
          font-size: 12px;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      display: block !important;
      .availability {
        h4 {
          font-size: 16px;
        }
      }
      .left {
        padding: 0px 0 15px 0;
        &:after {
          display: none;
        }
      }
      .userCard {
        background: rgba(color(150), 0.06);
        max-width: 100%;
        border-radius: 5px;
        padding: 15px;
        flex-direction: row !important;
        justify-content: flex-start !important;
        text-align: left;
        &_profile {
          margin: 0;
        }
        &_info {
          margin-left: 15px;
          h4 {
            margin: 0;
          }
        }
        .ratings {
          justify-content: flex-start !important;
        }
        .liked {
          top: 15px;
          right: 15px;
          font-size: 14px;
        }
      }
    }
  }
}
