.commonPagination{
   padding: 20px 0 70px;
    .pagination{
        margin-bottom: 0;
        .page-item{
            &:not(:last-child){margin-right:16px;}
            .page-link{
                border:0;
                color:color(800);
                border-radius:50%;
                width:27px;
                height:27px;
                font-size:12px;
                background: transparent;
                padding: 0;
                line-height: 28px;
                &:focus{box-shadow:none;}
            }
            &.active , &:hover{
                .page-link{background-color:color(600);color:color(50);}
            }
            &.prev , &.next{
                display: flex;align-items: center;
                .page-link{
                    background-color:rgba(color(150), 0.1);
                    min-width:52px;
                    text-align:center;
                    border-radius:13px;
                    width:auto;
                    color: color(800);
                }
                &:hover{
                    .page-link{background-color:color(600);color:color(50);}
                }
            }
             &.disabled{
                .page-link{
                    opacity:0.8;
                }
            }
        }
    }
    .countResult{font-size: 14px; color: color(800);}
    @include media-breakpoint-down(xxl){
        padding-bottom: 40px;
    }
    @include media-breakpoint-down(md){
        padding: 10px 0 30px;
        .pagination{
            justify-content: center; margin-top: 10px;
            .page-item{
                &:not(:last-child){margin-right:8px;}
            }
        }
        .countResult{font-size: 13px;}
    }
}